/**
 * @license
 * MyFonts Webfont Build ID 3463656, 2017-10-13T06:34:11-0400
 *
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are
 * explicitly restricted from using the Licensed Webfonts(s).
 *
 * You may obtain a valid license at the URLs below.
 *
 * Webfont: AvenirLTPro-Medium by Linotype
 * URL: https://www.myfonts.com/fonts/linotype/avenir-pro/pro-65-medium/
 *
 * Webfont: AvenirLTPro-Light by Linotype
 * URL: https://www.myfonts.com/fonts/linotype/avenir-pro/pro-35-light/
 *
 * Webfont: AvenirLTPro-Roman by Linotype
 * URL: https://www.myfonts.com/fonts/linotype/avenir-pro/pro-55-roman/
 *
 * Webfont: AvenirLTPro-MediumOblique by Linotype
 * URL: https://www.myfonts.com/fonts/linotype/avenir-pro/pro-65-medium-oblique/
 *
 * Webfont: AvenirLTPro-Heavy by Linotype
 * URL: https://www.myfonts.com/fonts/linotype/avenir-pro/pro-85-heavy/
 *
 * Webfont: AvenirLTPro-Black by Linotype
 * URL: https://www.myfonts.com/fonts/linotype/avenir-pro/pro-95-black/
 *
 *
 * License: https://www.myfonts.com/viewlicense?type=web&buildid=3463656
 * Licensed pageviews: 250,000
 * Webfonts copyright: Part of the digitally encoded machine readable outline data for producing the Typefaces provided is copyrighted &#x00A9; 2007 Linotype GmbH, www.linotype.com. All rights reserved. This software is the property of Linotype GmbH, and may not be reproduced,
 *
 * © 2017 MyFonts Inc
*/
/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/34d9e8");

@font-face {
  font-family: 'AvenirLTPro';
  src: url('34D9E8_0_0.eot');
  src: url('#{$fontPath}34D9E8_0_0.eot?#iefix') format('embedded-opentype'), url('#{$fontPath}34D9E8_0_0.woff2') format('woff2'), url('#{$fontPath}34D9E8_0_0.woff') format('woff'), url('#{$fontPath}34D9E8_0_0.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirLTPro';
  src: url('#{$fontPath}34D9E8_1_0.eot');
  src: url('#{$fontPath}34D9E8_1_0.eot?#iefix') format('embedded-opentype'), url('#{$fontPath}34D9E8_1_0.woff2') format('woff2'), url('#{$fontPath}34D9E8_1_0.woff') format('woff'), url('#{$fontPath}34D9E8_1_0.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirLTPro';
  src: url('#{$fontPath}34D9E8_2_0.eot');
  src: url('#{$fontPath}34D9E8_2_0.eot?#iefix') format('embedded-opentype'), url('#{$fontPath}34D9E8_2_0.woff2') format('woff2'), url('#{$fontPath}34D9E8_2_0.woff') format('woff'), url('#{$fontPath}34D9E8_2_0.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirLTPro';
  src: url('#{$fontPath}34D9E8_3_0.eot');
  src: url('#{$fontPath}34D9E8_3_0.eot?#iefix') format('embedded-opentype'), url('#{$fontPath}34D9E8_3_0.woff2') format('woff2'), url('#{$fontPath}34D9E8_3_0.woff') format('woff'), url('#{$fontPath}34D9E8_3_0.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'AvenirLTPro';
  src: url('#{$fontPath}34D9E8_4_0.eot');
  src: url('#{$fontPath}34D9E8_4_0.eot?#iefix') format('embedded-opentype'), url('#{$fontPath}34D9E8_4_0.woff2') format('woff2'), url('#{$fontPath}34D9E8_4_0.woff') format('woff'), url('#{$fontPath}34D9E8_4_0.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirLTPro';
  src: url('#{$fontPath}34D9E8_5_0.eot');
  src: url('#{$fontPath}34D9E8_5_0.eot?#iefix') format('embedded-opentype'), url('#{$fontPath}34D9E8_5_0.woff2') format('woff2'), url('#{$fontPath}34D9E8_5_0.woff') format('woff'), url('#{$fontPath}34D9E8_5_0.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
