[class^="ico"], [class*=" ico"] {
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  //image-rendering: -moz-crisp-edges;         /* Firefox */
  //image-rendering:   -o-crisp-edges;         /* Opera */
  //image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
  //image-rendering: crisp-edges;
  //-ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */
}

.ico-zoom {
  @include square(21px);
  background-image: url('#{$imgPath}/ico-search.svg');
}

.ico-download {
  @include size(32px, 38px);
  background-image: url('#{$imgPath}/ico-download.png');
}

.ico-calendar{
  @include size(14px, 15px);
  background-image: url('#{$imgPath}/ico-calendar.png');
}

.ico-author{
  @include square(14px);
  background-image: url('#{$imgPath}/ico-author.png');
}

.ico-tag{
  @include square(16px);
  background-image: url('#{$imgPath}/ico-tag.png');
}

.ico-share-twitter{
  @include size(12px, 10px);
  background-image: url('#{$imgPath}/ico-share-twitter.png');
}

.ico-share-email{
  @include size(12px, 8px);
  background-image: url('#{$imgPath}/ico-share-email.png');
}

.ico-share-facebook{
  @include size(7px, 14px);
  background-image: url('#{$imgPath}/ico-share-facebook.png');
}

.ico-share-google{
  @include square(11px);
  background-image: url('#{$imgPath}/ico-share-google.png');
}

.ico-top{
  @include square(12px);
  background-image: url('#{$imgPath}/ico-top.png');
}

.ico-close{
  @include square(20px);
  background-image: url('#{$imgPath}/ico-close.png');
}

.ico-eye{
  @include size(54px, 34px);
  background-image: url('#{$imgPath}/ico-eye.png');
}

.ico-twitter-btn{
  @include size(15px, 12px);
  background-image: url('#{$imgPath}/ico-twitter-btn.png');
}

.ico-arrow-down{
  @include size(16px, 10px);
  background-image: url('#{$imgPath}/ico-arrow-down.png');
}

.ico-arrow-down-mini{
  @include square(12px);
  background-image: url('#{$imgPath}/ico-arrow-down-mini.png');
}

.ico-play{
  @include square(71px);
  background-image: url('#{$imgPath}/ico-play.png');
}

.ico-play-big{
  @include size(24px, 38px);
  background-image: url('#{$imgPath}/ico-play-big.png');
}