/*  -------------------------------------------------------
    ------------------->>> VARIABLES <<<----------------------
    -------------------------------------------------------  */

//COLORS

$white: #fff;
$light: #dbd4d0;
$light2: #efefef;
$light3: #dee2e6;
$light4: #eee;
$light5: #d8d8d8;
$light6: #e4e4e4;
$greyMed: #868e96;
$greyMed2: #666;
$greyMed3: #83807f;
$greyMed4: #999;
$greyMed5: #858585;
$greyMed6: #8b8887;
$greyMed7: #787574;
$grey: #494645;
$grey2: #495057;
//$grey3: #484543;
$grey3: #414141;
$greyDark: #333;
$greyDark2: #393635;
$greyDark3: #383533;
//$green: #76b82a;
$green: #83bc56;
$blue: #1597e1;
$pink: #dd2f6d;
$purple: #7950f2;
$orange: #FF7000;
$red: #ea4842;

//FONTS
$fontPath: '../fonts/';

//IMAGES
$imgPath: '../img/';